#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff url(Infinity-1s-200px.gif) no-repeat center;
  z-index: 99999;
}

label{
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  top: 20px;
  border: 2px solid;
  border-radius: 20px;
}
label:before{
  position: absolute;
  width: 20px;
  height: 20px;
  /* right: 1px; */
  left: 1px;
  content: "";
  /* top: 20px; */
  border-radius: 50%;
  cursor: pointer;
  background: rgb(0, 0, 0);
  transition: 0.4s;
}
label.active:before{
  left: 24px;
  background:#fff;
}

body.night{
  background: black;
  color: darkviolet;
}

#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: rgb(255, 255, 255);
  background: rgb(19, 1, 1);
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
